
*{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
html, body, #capa{
	height: 100%;
}
.custom-bar-top{
	background: #FF7F50;/*#FF7F50;*/
	text-transform: uppercase;
	padding: 10px;
	margin: 0;
	transition: .3s all linear;
}
.custom-conteudo{
	margin-top: 80px;
}
.nav > li a{
	color: #FFF;
	border-bottom: 3px solid rgba(255, 127, 80, 0);
	transition: .3s all;
}
.nav > li a:hover{
	background: none;
	border-color: #FFF;
	box-sizing: border-box;
	transition: .5s all;
}
#capa{
	background: url("../img/background.jpeg") center / cover no-repeat;
	/*background: red;*/
	display: table;
	width: 100%;
	background-attachment: fixed;
}
.texto{
	top: 100px;
	background: rgba(0, 0, 0, 0.5);
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	display: table-cell;
	vertical-align: middle;
}
.intro h1{
	text-transform: uppercase;
	margin: 0;
}
.intro h2{
	margin: 10px 0px 30px 0px;
}
.descricao{
	/*box-shadow: 1px 1px 2px rgba(0,0,0,.4);*/
	height: auto;
	text-align: center;
}
.descricao h2{
	text-align: center;
	margin: 0;
}
.custom-icon{
	display: block;
	color: #FF7F50;
	font-size: 5em;
	text-align: center;
}
footer{
	background: rgba(0,0,0,.03);
	display: table;
	width: 100%;
	padding: 30px 0px 10px 0px;
	margin-top: 50px;
	text-align: center;
}
.menu-inferior{
	float: right;
}
.menu-inferior li{
	/*display: inline-block;*/
}
.btn-inscricao{
	border: none;
	background: #FF7F50;
	padding: 10px;
	border-radius: 5px;
	color: #FFF;
	font-weight: bold;
	width: 250px;
	margin-bottom: 10px;
}
.copyright{
	text-align: center;
	margin: 20px 0px 10px 0px;
	bottom: 0px;
}
/*Inscrições*/
.frase{
	background: #FF7F50;
	color: #FFF;
	font-size: 2.3em;
	padding: 50px 0px 50px 0px;
}
.frase .autor{
	display: block;
	text-align: right;
	font-size: .8em;
	font-style: italic;
}
.card{
	/*border-radius: 10px;*/
	box-shadow: 1px 1px 1px 2px rgba(0,0,0,.2);
	height: 500px;
	/*border: 2px solid #FF7F50;*/
}
/*.teacher{
	border: 2px solid #3CB371 !important;
}*/
.teacher figcaption{
	background: #3CB371 !important ;
}
.teacher .legenda{
	border-bottom: 2px solid #3CB371;
	color: #3CB371;
}
.legenda{
	border-bottom: 2px solid #FF7F50;
	padding: 10px 0px 5px 0px;
}
.descricao{
	display: block;
	padding: 10px;
	text-align: center;
	font-style: italic;
	/*background: #BCBCBC;*/
}
.skills{
	padding: 10px;
}
.skills span{
	background: #BCBCBC;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	color: #FFF;
	font-weight: bold;
}
figure{
	width: 100%;
	text-align: center;
	padding: 20px;
}
figcaption{
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px;
	text-align: center;
	background: #FF7F50;
	font-size: 1.2em;
}
.legenda{
	color: #FF7F50;
	font-weight: bold;
	display: block;
	text-align: center;
}
.logo-content{
	/*padding-top: 50px; */
}
.listas-ocultas ul{
	display: none;
}
.space{
	margin-top: 100px;
}
.row{
	margin-top: 20px;
}

.aluno-destaque{
	margin-bottom: 5px;
	background: #FF7F50;
	width: 100%;
}
.aluno-destaque img{
	width: 100%;
}
.aluno-destaque p{
	color: #FFF;
}
.btn-destaque{
	background: #3CB371;
	border: none;
	padding: 10px;
	border-radius: 5px;
	color: #FFF;
	font-weight: bold;
	width: 250px;
	margin-bottom: 10px;
}
.legenda-destaque{
	text-align: center;
}
.logo-contato{
	width: 100%;
}
.mapa{
	width: 100%;
	height: 400px;
}
.navbar-brand{
	color: #FFF;
}
.badge{
	padding: 5px;
	background: #3CB371;
	color: #FFF;
	margin-left: 10px;
	font-size: .8em;
}